/* оформление html,body по умолчанию */
html,body{
  margin:1px;
  padding:0px;
  font: 16px "Courier New";
  /*background-image: ; */
}

/* фон в заголовке */
.HeaderImageFon{
 background-image: url('../images/bgtop.gif');
 background-repeat:repeat-x;
 background-size: contain;
 /*
 background-repeat:repeat-x;
 
 border: 1px solid #36B9F0;
 width:100%;
 height:152px;
 margin: 115px auto; */
}
/* рисунок в центре заголовка */
.HeaderImageCenter {
/*  outline: 2px solid #1E4FFF; */
 background-image: url('../images/img_header.gif');
 background-repeat: no-repeat;
 background-size: contain;
 /* border-collapse: collapse;
 border: 0px white; 
 width:485px;
 height:152px;
 margin: 0 auto;
 padding: 0 0 0 0;
 */
 }

/* блок div для перехода на сайт */
#HrefHeader {
  /* outline: 5px solid #000000;  */
  width:180px;
  height:120px;
  display:inline-block;
  margin: 0 0 0 150px;
  }	 

 /* Отступ первой строки в пикселах */
  p {
      text-indent: 20px; 
    }

 /* активные ссылки */
  a:link {
  color:#3200FF;
  }

 /* неактивные ссылки */
  a:visited {
  color:#3200FF;
  }
  
/* Общий стиль всей таблицы */
table {
  width:100%;
  text-align: left;
  /* border: 3px solid blue; */
  }
/* Общий стиль выравнеивание данных в ячейке */
td {
  vertical-align: top; 
  /* border: 3px solid gold; */
  }

tr {
  vertical-align: top; 
  /* border: 3px solid black; */
 }

 /* стиль списка с изображеним стрелки */
.ulImg {
  list-style-image: url('../images/arr_2.gif');
  font: 12px/17px "Tahoma";
  width:160px;
 }
 /* стиль списка с изображеним списка */
.ulImg2 {
  list-style-image: url('../images/len.gif');
  font: 12px/14px "Tahoma";
  width:120px;
 }
 /* стиль списка с изображеним мяча */
 .ulImg3 {
  list-style-image: url('../images/boll.gif');
  font: 12px/14px "Tahoma";
  width:120px;
 }

/* форматирование общего списка меню */
.lineIL {
  margin-left: 0px; /* Отступ слева */
 }  

